.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 100px;
  color: whitesmoke;
}
.hero-2 img {
  border-radius: 50px;
  width: 500px;
}
.content {
  font-size: 20px;
  text-align: justify;
}
.content h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.content h1 span {
  color: #3a86ff;
}
.content p {
  margin-bottom: 10px;
}
.tab-item {
  color: white;
  margin-top: 30px;
}
.tab-item div > h2 {
  color: #3a86ff;
  margin-top: 10px;
  font-size: 23px;
}
.tab-item ul {
  display: flex;
  margin-bottom: 24px;
}
.tab-item ul li {
  margin-right: 30px;
  font-size: 25px;
  position: relative;
  list-style: none;
}
.tab-item ul li::after {
  content: "";
  background-color: #3a86ff;
  width: 50%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -8px;
}
/* .tab-item ul li:hover::after {
  content: "";
  background-color: #3a86ff;
  width: 50%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all 0.2s;
} */
@media only screen and (max-width: 1320px) {
  .about-me {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .about-me {
    margin-top: 60px;
    padding: 0 40px;
    gap: 30px;
    margin-bottom: 50px;
  }
  .hero-2 img {
    border-radius: 20px;
    width: 400px;
    height: 500px;
  }
  .content {
    font-size: 17px;
  }
}
@media only screen and (max-width: 900px) {
  .about-me {
    padding: 0 45px;
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
  }
  .content {
    max-width: 100%;
  }
  .hero-2 img {
    max-width: 100%;
    width: 500px;
    height: 390px;
  }
  .tab-item {
    max-width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .about-me {
    padding: 0 30px;
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
  }
  .hero-2 img {
    max-width: 100%;
    width: 600px;
  }
}
@media only screen and (max-width: 400px) {
  .tab-item ul li {
    font-size: 20px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 300px) {
  .tab-item ul li {
    margin-right: 5px;
  
}
}