#profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-top: 100px;
  color: whitesmoke;
  padding: 0 200px;
}
#profile .btn {
  padding: 11px 40px;
  background-color: rgb(31, 30, 30, 0.24);
  border-radius: 10px 25px 10px 25px;
  font-size: 17px;
  border: 1px solid #3a86ff;
  margin-top: 25px;
  color: #fefefe;
}
#profile .btn:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.6), #3a86ff);
}
.title-me h2 span {
  color: #3a86ff;
}
.title-me h1 span {
  color: #3a86ff;
}
.title-me h3 span {
  color: #3a86ff;
}
.title-me h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.title-me p {
  font-size: 18px;
}
.title-me h2 {
  position: relative;
  font-size: 25px;
  overflow: hidden;
}
.title-me h2::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: black;
  animation: animate 5s steps(40) infinite;
}
@keyframes animate {
  40%,60% {
    left: 50%;
  }
  100%{
    left: 0%;
  }
}

.hero img {
  width: 450px;
  height: auto;
}
@media only screen and (max-width: 1320px) {
  #profile {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 1200px) {
  #profile {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  #profile {
    padding: 0 30px;
  }
  .hero img {
    text-align: center;
    width: 330px;
    height: 330px;
  }
  .title-me {
    max-width: 100%;
  }
  .title-me p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 700px) {
  #profile {
    gap: 50px;
    flex-direction: column;
    padding: 0 20px;
  }
  .hero img {
    text-align: center;
    width: 450px;
    max-width: 100%;
  }
  .profile {
    padding: 0;
  }
}