.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: whitesmoke;
  text-shadow: 5px 5px 5px #3a86ff, -6px -6px 12px blue;
}
.title span {
  color: #3a86ff;
}
#services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0 100px;
  margin-bottom: 50px;
}
.services {
  font-size: 17px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), whitesmoke);
  text-align: justify;
  padding: 35px;
  border-radius: 30px;
  color: white;
}
.services h2 i {
  font-size: 40px;
  margin-bottom: 5px;
}
.services h2 {
  margin-bottom: 15px;
}
.services p {
  margin-bottom: 20px;
}
.services button {
  color: black;
  font-size: 15px;
  padding: 5px 10px;
  font-weight: bold;
  border: 2px solid #3a86ff;
  border-radius: 20px;
  background-color: whitesmoke;
}
.services button:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.6), #3a86ff);
}
.services:hover {
  background-color: #3a86ff;
  transform: translateY(-10px);
  transition: 0.4s;
}
@media only screen and (max-width: 1320px) {
  #services {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 1200px) {
  /* * {
    background-color: aqua;
  } */
  #services {
    padding: 0 20px;
    gap: 30px;
  }
}
@media only screen and (max-width: 900px) {
  #services {
    display: flex;
    flex-direction: column;
    padding: 0 70px;
  }
  .title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 700px) {
  #services {
    padding: 0 30px;
  }
}
